:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  place-items: center;
  min-width: 320px;
  background-color: #303A71;
}

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ol,
ul,
li,
footer,
header,
nav {
  padding: 0;
  border: 0;
  margin: 10px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer,
header,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

input:focus,
button:focus {
  outline: none;
}

input::placeholder {
  font-size: 18px;
  color: #888787;
}